* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/netflix_bg.jpg");
  color: white;
  font-family: "Tahoma", serif;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px 100px;
}

#title {
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 10px;
  letter-spacing: 7px;
}

span {
  color: #ff0000;
}

#description {
  text-align: center;
  font-size: 23px;
  margin-bottom: 12px;
}

#survey-form {
  width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding-top: 10px;
}

label {
  display: block;
  font: 1rem "Tahoma", sans-serif;
}

#name,
#age,
#email,
#content {
  margin-top: 14px;
  height: 16px;
  width: 400px;
  padding: 8px;
}

select {
  box-sizing: content-box;
  resize: none;
}

fieldset {
  border: none;
  padding: 5px;
}

textarea {
  width: 85%;
  height: 100px;
  resize: none;
}

.box {
  margin-top: 14px;
  margin-left: 15px;
}

#submit {
  background-color: red;
  font-size: larger;
  height: 45px;
  width: 160px;
  border-radius: 50px;
  border: none;
  color: white;
  cursor: pointer;
  margin: 16px 0px 16px 150px;
}

#submit:hover {
  background-color: white;
  color: red;
}

#label-detail,
#label-gender {
  display: inline-block;
  justify-content: stretch;
  padding: 5px;
}

#label-feedback {
  padding: 5px;
}
/**/

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  grid-area: 6 / 1 / 7 / 2;
}
.div7 {
  grid-area: 7 / 1 / 8 / 2;
}
